@model myfirstproject.Models.vehicle

@{
    ViewBag.Title = "ToShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
     
var ClassName = Model.Id > 0 ? "white" : null; 
}

<h2 class="@ClassName">Vehilces list</h2>

<ul>
    
    

</ul>


